:root {
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --primery-white-color: #ffffff;  
    --primary-background-color: #2f303a;
    --secondary-background-color: #F5F4FA;
    --project-cards-set-gap: 30px;
}

body {
    color: var(--primery-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

link {
    display: block;
}

/*hidden section title */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    order: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    }

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
    text-align: center;
    }

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}    

.section {
padding: 94px 0;
}

.link {
    text-decoration: none;
}

/*Header section*/
.header-section {
border-bottom: 1px solid #ECECEC;
}

.container-header {
    display: flex;
    justify-content: space-between;
}
.container-nav {
    display: flex;
    align-items: center;
}

.container-nav-menu {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.container-header-contact {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.header-contact {
    display: flex;
    align-items: center;
}

.header-contact-item:not(:last-child) {
margin-right: 50px;
}

.link-contact {
    display: block;
    padding: 30px 0;
}

/*logo*/
.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    align-items: center;
    margin-right: 93px;

}

.logo-web {
    color: #2196F3;
}

.logo-studio {
    color: #000000;
}

/*header-navigation*/
.link-nav {
    color: var(--primery-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding: 30px 0;
}

.link-nav:hover,
.link-nav:focus {
    color: var(--accent-color);
}

.link-nav.link-current {
    color: var(--accent-color);
}

/*header-contacts*/
.link-contact {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.link-contact:hover,
.link-contact:focus {
    color: var(--accent-color);
}

/*studio*/
/*hero*/

.hero-section {
    background: var(--primary-background-color);
margin: 0 auto;
padding: 200px 425px;
}

.hero-container {
    width: 100%;
        max-width: 1200px;
            flex-direction: column;
            align-items: center;
        margin: 0 auto;
        padding: 0 15px;
        border: none;
}
.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: var(--primery-white-color);
        width: 696px;
        margin: auto;
 }

.main-button {
    display: block;
    font-family: inherit;
    font-weight: 700;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
color: var(--primery-white-color);
background-color: var(--accent-color);
border: none;
border-radius: 4px;
width: 216px;
min-height: 50px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

/*features, example projects, team*/

.feature-boxs-list {
    display: flex;
    gap: 30px;
    }

.feature-box {
 width: 270px;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
font-size: 14px;
line-height: 1.71;
color: var(--secondary-text-color);
margin-top: 10px;
}

/*Examples of projects*/
.example-projects {
    margin-top: 0;
}
.example-projects-cards-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.team-cards {
    background-color: var(--secondary-background-color);
}

.team-cards-list {
    display: flex;
    justify-content: space-between;
}

.team-card {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
    margin-right: 30px;
}

.team-card-title {
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
margin-bottom: 10px;
}

.team-card-text {
font-size: 16px;
line-height: 1.2;
text-align: center;
color: var(--secondary-text-color);
}

.team-wrapper {
    padding: 30px 0;
}


/*portfolio-filters*/

.projects-galery-section {
    padding: 94px 215px;
    background: var(--primery-white-color);
}

.container-filter-buttons {
    display: flex;
    min-height: 54px;
justify-content: center;
gap: 8px;
    margin-bottom: 34px;
}

.filter-button {
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primery-text-color);
    background: var(--secondary-background-color);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    cursor: pointer;
    }
    
.filter-button:hover,
.filter-button:focus {
        color: var(--primery-white-color);
        background: var(--accent-color);
    }

    
/*portfolio-cards*/

.project-cards-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
        flex-wrap: wrap;
        margin-left: calc( -1 * var(--project-cards-set-gap));
        margin-top: calc(-1 * var(--project-cards-set-gap));
}

.project-cards-set > .project-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: var(--project-cards-set-gap);
    margin-top: var(--project-cards-set-gap);
}

.project-card-content {
    max-width: 322px;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.card-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primery-text-color);
}

.card-description {
font-size: 16px;
line-height: 1.88;
color:var(--secondary-text-color);
margin-top: 4px;
}

/*footer*/
.footer-section {
    background-color: var(--primary-background-color);
    padding: 60px;
}

.logo-studio-footer {
    color: var(--primery-white-color);
}

.footer-adress {
    fonts-style: none;
    margin-top: 20px;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.link-footer-adress {
text-decoration: none;
    font-size: 14px;
    line-height: 1.7;    
    color: var(--primery-white-color);
    }
.link-footer-adress:hover, 
.link-footer-adress:focus {
    color:var(--accent-color);
    }
.link-footer-contacts {
text-decoration: none;
font-size: 14px;
line-height: 1.7;
color: rgba(255, 255, 255, 0.6);
    }
.link-footer-contacts:hover,
.link-footer-contacts:focus {
        color:var(--accent-color);
    }

        






